clienteWeb/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3846/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3846/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3846/Service1.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ventas_articulo_InputMessage">
    <wsdl:part name="parameters" element="tns:ventas_articulo" />
  </wsdl:message>
  <wsdl:message name="IService1_ventas_articulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ventas_articuloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ventas_globales_InputMessage">
    <wsdl:part name="parameters" element="tns:ventas_globales" />
  </wsdl:message>
  <wsdl:message name="IService1_ventas_globales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ventas_globalesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_articulos_mas_vendidos_InputMessage">
    <wsdl:part name="parameters" element="tns:articulos_mas_vendidos" />
  </wsdl:message>
  <wsdl:message name="IService1_articulos_mas_vendidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:articulos_mas_vendidosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_productos_existentes_InputMessage">
    <wsdl:part name="parameters" element="tns:productos_existentes" />
  </wsdl:message>
  <wsdl:message name="IService1_productos_existentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:productos_existentesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_notificacion_compra_InputMessage">
    <wsdl:part name="parameters" element="tns:notificacion_compra" />
  </wsdl:message>
  <wsdl:message name="IService1_notificacion_compra_OutputMessage">
    <wsdl:part name="parameters" element="tns:notificacion_compraResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ventas_articulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ventas_articulo" message="tns:IService1_ventas_articulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ventas_articuloResponse" message="tns:IService1_ventas_articulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ventas_globales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ventas_globales" message="tns:IService1_ventas_globales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ventas_globalesResponse" message="tns:IService1_ventas_globales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="articulos_mas_vendidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/articulos_mas_vendidos" message="tns:IService1_articulos_mas_vendidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/articulos_mas_vendidosResponse" message="tns:IService1_articulos_mas_vendidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productos_existentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/productos_existentes" message="tns:IService1_productos_existentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/productos_existentesResponse" message="tns:IService1_productos_existentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="notificacion_compra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/notificacion_compra" message="tns:IService1_notificacion_compra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/notificacion_compraResponse" message="tns:IService1_notificacion_compra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ventas_articulo">
      <soap:operation soapAction="http://tempuri.org/IService1/ventas_articulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ventas_globales">
      <soap:operation soapAction="http://tempuri.org/IService1/ventas_globales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="articulos_mas_vendidos">
      <soap:operation soapAction="http://tempuri.org/IService1/articulos_mas_vendidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productos_existentes">
      <soap:operation soapAction="http://tempuri.org/IService1/productos_existentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notificacion_compra">
      <soap:operation soapAction="http://tempuri.org/IService1/notificacion_compra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3846/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>